use [master]
go
/*
Autor: Diemerson Campos 
Data: 2025-10-22
*/
create procedure [dbo].[sp_createlogin] 
(
	@login_name varchar(100),
	@password varchar(100) = '',
	@default_database varchar(250) = 'master',
	@check_policy bit = 1,
	@expiration bit = 0,
	@size int = 20,           
    @spchar bit = 1,            
    @num bit = 1,             
    @caps bit = 1,
	@drop bit = 1

)
as
begin
	declare 
		@cmd varchar(max)
		,@create varchar(max)

	
	if @password = ''
	begin
		declare 
			@chars nvarchar(100) = '',
			@i int = 0;

		set @chars = 'abcdefghijklmnopqrstuvwxyz';

		if @caps = 1
			set @chars += 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

		if @num = 1
			set @chars += '0123456789';

		if @spchar = 1
			set @chars += '!@#$%^&*()-_=+[]{};:,.<>?';

		while @i < @size
		begin
			set @password += substring(@chars, 1 + cast(crypt_gen_random(1) as int) % len(@chars), 1);
			set @i += 1;
		end

	end

	select @cmd = 'create login ['+@login_name+'] with password = '''+@password+''''
			+', default_database=['+@default_database+']'
			+', check_expiration='+iif(@expiration=1, 'on','off')
			+', check_policy='+iif(@check_policy=1, 'on','off')

	exec(@cmd)

	
	select @create = 'create login ['+@login_name+']' 
		+' with password = '+convert(varchar(max),loginproperty(@login_name,'PasswordHash'),1)+' hashed'
		+', sid = '+convert(varchar(max),suser_sid(@login_name),1)
		+', default_database=['+@default_database+']'
		+', check_expiration='+iif(@expiration=1, 'on','off')
		+', check_policy='+iif(@check_policy=1, 'on','off')

	if @drop = 1
		exec('drop login ['+@login_name+']')
	
	Select
		@login_name [Login]
		,@password [Password]
		,@create [Script_Create]

end



